## Q1. Apriori Algorithm Cosmetics Dataset

In [8]:
#importing libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from mlxtend.frequent_patterns import apriori
from mlxtend.frequent_patterns import association_rules

In [9]:
#importing data
data = pd.read_csv(r'C:\Users\patil\OneDrive\Desktop\JYPN\Datasets\Cosmetics.csv')
data.head()

,Bag,Blush,Nail Polish,Brushes,Concealer,Eyebrow Pencils,Bronzer,Lip liner,Mascara,Eye shadow,Foundation,Lip Gloss,Lipstick,Eyeliner
0,No,Yes,Yes,Yes,Yes,No,Yes,Yes,Yes,No,No,No,No,Yes
1,No,No,Yes,No,Yes,No,Yes,Yes,No,No,Yes,Yes,No,No
2,No,Yes,No,No,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,No
3,No,No,Yes,Yes,Yes,No,Yes,No,No,No,Yes,No,No,Yes
4,No,Yes,No,No,Yes,No,Yes,Yes,Yes,Yes,No,Yes,Yes,No

In [10]:
#replacing Yes with 1 and No with 0
data.replace({'Yes':1, 'No':0}, inplace=True)
data.head()

,Bag,Blush,Nail Polish,Brushes,Concealer,Eyebrow Pencils,Bronzer,Lip liner,Mascara,Eye shadow,Foundation,Lip Gloss,Lipstick,Eyeliner
0,0,1,1,1,1,0,1,1,1,0,0,0,0,1
1,0,0,1,0,1,0,1,1,0,0,1,1,0,0
2,0,1,0,0,1,1,1,1,1,1,1,1,1,0
3,0,0,1,1,1,0,1,0,0,0,1,0,0,1
4,0,1,0,0,1,0,1,1,1,1,0,1,1,0

### Generating Rules with support>25% and confidence>70%

In [11]:
#Generating frequent itemset
freq_items = apriori(data,min_support=0.001 , use_colnames=True)
freq_items

       support                                           itemsets
0        0.054                                              (Bag)
1        0.363                                            (Blush)
2        0.280                                      (Nail Polish)
3        0.149                                          (Brushes)
4        0.442                                        (Concealer)
...        ...                                                ...
12594    0.001  (Bag, Brushes, Eye shadow, Foundation, Eyeline...
12595    0.001  (Bag, Brushes, Eye shadow, Foundation, Eyeline...
12596    0.001  (Brushes, Eye shadow, Foundation, Bronzer, Mas...
12597    0.001  (Brushes, Eye shadow, Foundation, Eyeliner, Br...
12598    0.001  (Bag, Brushes, Eye shadow, Foundation, Eyeline...

[12599 rows x 2 columns]

In [14]:
#Genrating the rules from frequent datasets
rules = association_rules(freq_items, metric='confidence', min_threshold=0.001)
rules = rules[rules.lift>=1]
rules.head()

,antecedent support,consequent support,support,confidence,lift,leverage,conviction
count,2.366854e+06,2.366854e+06,2.366854e+06,2.366854e+06,2.366854e+06,2.366854e+06,2.366854e+06
mean,4.337644e-02,4.337644e-02,3.262737e-03,2.374145e-01,1.017663e+01,2.372044e-03,inf
std,7.105747e-02,7.105747e-02,5.048157e-03,2.654472e-01,1.207564e+01,3.058339e-03,NaN
min,1.000000e-03,1.000000e-03,1.000000e-03,1.865672e-03,1.000000e+00,0.000000e+00,1.000000e+00
25%,6.000000e-03,6.000000e-03,1.000000e-03,4.761905e-02,3.683241e+00,8.920000e-04,1.039297e+00
50%,1.700000e-02,1.700000e-02,2.000000e-03,1.333333e-01,6.711409e+00,1.436000e-03,1.122286e+00
75%,4.700000e-02,4.700000e-02,3.000000e-03,3.333333e-01,1.204819e+01,2.604000e-03,1.395333e+00
max,5.360000e-01,5.360000e-01,3.560000e-01,1.000000e+00,3.333333e+02,1.849830e-01,inf

In [16]:
print(rules.shape)
rules.describe()

(2366842, 9)

,antecedent support,consequent support,support,confidence,lift,leverage,conviction
count,2.366842e+06,2.366842e+06,2.366842e+06,2.366842e+06,2.366842e+06,2.366842e+06,2.366842e+06
mean,4.337639e-02,4.337639e-02,3.262745e-03,2.374154e-01,1.017668e+01,2.372056e-03,inf
std,7.105760e-02,7.105760e-02,5.048168e-03,2.654476e-01,1.207565e+01,3.058343e-03,NaN
min,1.000000e-03,1.000000e-03,1.000000e-03,1.865672e-03,1.000105e+00,1.000000e-06,1.000007e+00
25%,6.000000e-03,6.000000e-03,1.000000e-03,4.761905e-02,3.683241e+00,8.920000e-04,1.039304e+00
50%,1.700000e-02,1.700000e-02,2.000000e-03,1.333333e-01,6.711409e+00,1.436000e-03,1.122286e+00
75%,4.700000e-02,4.700000e-02,3.000000e-03,3.333333e-01,1.204819e+01,2.604000e-03,1.395333e+00
max,5.360000e-01,5.360000e-01,3.560000e-01,1.000000e+00,3.333333e+02,1.849830e-01,inf

### Sorting rules having lift geater than 1

In [15]:
rules = rules[rules.lift>1]
print(rules.shape)

(2366842, 9)

### We were able to generate 3 rules with support 50%, Confidence 70% and Lift 1